@model CreateUniversityCommand
@{
    Layout = null;
}

<br />
<div class="container">
    <form method="post">


        <label>Üniversite Adı</label>
        <input type="text" asp-for="Name" class="form-control" />

        <label>Üniversite Şehri</label>
        <input type="text" asp-for="City" class="form-control" />

        <label>Üniversite Nüfusu</label>
        <input type="text" asp-for="Population" class="form-control" />

        <label>Üniversite Fakülte Sayısı</label>
        <input type="text" asp-for="FacultyCount" class="form-control" />

        <button class="btn btn-primary">EKLE</button>
    </form>
</div>