@model GetProductHumanResourceByIdQueryResult 
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h2>İNSAN KAYNAKLARI ÜRÜN DETAY PANELİ</h2>
    <br />
    <label>Ürün ID</label>
    <input type="text" asp-for="ProductID" class="form-control" />
    <br />
    <label>Ürün Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Ürün Markası</label>
    <input type="text" asp-for="Brand" class="form-control" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="text" asp-for="SalePrice" class="form-control" />
    <br />
</div>